body {
	margin: 0px;
	background-color: #7ec0ee;
}

#cap {
	width: 250px;
	height: 250px;
	background-color: #202020;
	border: 2px solid white;
	position: absolute;
	left: calc(50% - 125px);
	top: calc(75% - 125px);
	
}
.circle-container {
	position: relative;
	height: 16px;
	width: 16px;
	top: 115px;
	left: 115px;
	transform: rotate(0deg);
}

#circle {
	background-color: #303030;
	position: absolute;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	border: 1px solid white;
	z-index: 1;
}

#tassle {
	position: absolute;
	background-color: #FFDF00;
	border: 1px solid black;
	height: 120px;
	width: 4px;
	top: 6px;
	left: 6px;
	
	
}

#rope {
	background-color: #FFDF00;
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	border: 1px solid black;
	left: 3px;
	top: 120px;
	
}

#string {
	 
}

#throw {
	position: absolute;
	width: 150px;
	height: 75px;
	top: calc(50% - 37.5px);
	left: calc(25% - 75px);
}

#grass {
	background-color:#629632;
	position: absolute;
	top: 70%;
	height: 30%;
	width: 100%;
	z-index: -1;
}