body {
	margin: 0px;
	background-color: blue;
}

#cap {
	width: 100px;
	height: 100px;
	background-color: #202020;
	border: 2px solid white;
	position: absolute;
	left: calc(50% - 50px);
	top: calc(75% - 50px);
	
}
.circle-container {
	position: relative;
	height: 10px;
	width: 10px;
	top: 44px;
	left: 44px;
	transform: rotate(0deg);
}

#circle {
	background-color: #303030;
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	border: 1px solid white;
	z-index: 1;
}

#tassle {
	position: absolute;
	background-color: #FFDF00;
	border: 1px solid black;
	height: 58px;
	width: 2px;
	top: 6px;
	left: 4px;
	z-index: 20px;
	
}

#rope {
	background-color: #FFDF00;
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	border: 1px solid black;
	left: 0px;
	top: 65px;
	
}

#string {
	 
}

#throw {
	position: absolute;
	width: 150px;
	height: 75px;
	top: calc(50% - 37.5px);
	left: calc(25% - 75px);
}